body {
  font-family: "Ubuntu", sans-serif;
  background-color: #0a4d68;
}
.navsec1 {
  width: 100%;
  height: 200px;
  background-color: #05bfdb;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.navsec1 img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.menu > ul {
  max-width: 100%;
  height: 100px;
  background-color: #00ffca;
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  flex-direction: row;
  font-weight: bold;
}
li > a {
  text-decoration: none;
  font-size: 20px;
  color: black;
}
hr {
  border: 1px solid #088395;
}
.bgimg {
  background-image: url(/assest/images/bgimg.jpeg);
  max-width: 100%;
  min-height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.s2txt {
  width: 300px;
  height: 100px;
  background-color: #0a4d68;
  position: absolute;
  top: 50%;
  left: 40%;
  border-radius: 10px;
}
.s2txt a {
  position: absolute;
  top: 15%;
  left: 15%;
  font-size: 60px;
  color: white;
  font-weight: bold;
  text-decoration: none;
}
.cards {
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-items: center;
  justify-content: center;

  max-width: 100%;
  min-height: 100%;
  gap: 30px;
  margin: 30px;
}
.card {
  transition: 2s;
  border: 1px solid gray;
  
  position: relative;
  background-color: azure;
  width: 300px;
  height: 400px;
  margin: 30px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
  rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
  rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.card img {
  width: 330px;
  height: 220px;
  object-fit: cover;
  
 
}
.stdate{
    background-color: #05bfdb;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 200px;
    left: 20px ;

}
.stdate p{
    margin: 3px;
}
.stname{
font-weight: bold;
font-size: 20px;
margin: 15px;
}
.stbt{
    font-size: 20px;
    margin: 15px; 
    color:#088395;
}
.pages {
    position: absolute;
    left: 50%;
    bottom: -1330px;
  }
  .pages button {
    border: none;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    color:#0a4d68;
  }
  .pages button i {
    font-size: 20px;
  }
.footer{
    height: 560px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.box1{
    width: 475px;
    height: 290px;
    display: grid;
}
.box1name a{
  color: WHITE;
  font-size: 28px;
  margin: 20px;
  font-weight: bold;
  text-decoration: none;
}
.finfo{
  font-size: 20px;
  color: WHITE;
}
.connect{
  font-size: 26px;
  color: WHITE;
  font-weight: bold;
}
.ficon i{
  font-size: 30px;
margin-left: 20px;
color: white;
}

.box2{
    height: 290px;
}
.tags{
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.tags a{
  text-decoration: none;
  color: WHITE;
}
.tags1{
  display: flex;
  flex-direction: column;
  font-size: 20px;
  
}
.tags2{
  display: flex;
  flex-direction: column;
  font-size: 20px;
  
}
.tags3{
  display: flex;
  flex-direction: column;
  font-size: 20px;
  
}

.box2name{
  color: WHITE;
  font-size: 28px;
  margin: 20px;
  font-weight: bold;
}